chatbus_public: false

docker_registry_host: ci.example.com
docker_registry_email: user@example.com
docker_registry_username:
docker_registry_password: ""

concourse_url: "https://ci.example.com"

ci_minion_hostname: <ci_minion>
ci_minion_username: ci
ci_minion_privkey: |
  -----BEGIN RSA PRIVATE KEY-----
  ...
  -----END RSA PRIVATE KEY-----
ci_minion_pubkey: |
  ssh-rsa <key> ci@hostname
ci_minion_known_hosts: |
  <ci_minion> ecdsa-sha2-nistp256 <key>
